@{
    ViewData["Title"] = "Home Page";
}

<div class="AuthorsContainer">
    <div class="LabTable">
        <div class="LabTableActionBar" style="margin-bottom: 20px;">
            <form class="LabTableActionBarLeft flex">
                <span class="LabTableActionBarLabel"><b>Choose Author: </b></span>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div>
                    <button type="submit">Submit Query</button>
                </div>
            </form>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Հ/Հ</th>
                    <th scope="col">Գրքի անվ․</th>
                    <th scope="col">Հեղինակը</th>
                    <th scope="col">ժանրը</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
